[submodule "gnome_extensions/gnome-shell-extension-transparent-window"]
	path = gnome_extensions/gnome-shell-extension-transparent-window
	url = git@github.com:wytchblade/gnome-shell-extension-transparent-window.git
